.splash-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;;
  flex-direction: column;
  background-color: #222222;

  img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10%;
  }

  small {
    font-size: 14px;
    color: #666;
  }
}
